@import url('https://fonts.googleapis.com/css2?family=Abel&family=Italiana&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body {
    font-family: "Rubik", sans-serif;
    background-color: #0C0E0C;
    color: #FAFCEF;
    font-size: 14px;
    line-height: 1.6;
}

.container {
    width: 43%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

/* Typography */
h1 {
    font-family: "Italiana", sans-serif;
    font-size: 6em;
    margin-bottom: 0em;
    font-weight: normal;
}

h2 {
    font-family: "Abel", sans-serif;
    font-size: 1em;
    margin-bottom: 0em;
    font-weight: normal;
}

h3 {
    font-family: "Abel", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
}

a {
    color: #E18D58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background: url('img/restaurant.jpg') no-repeat center center/cover;
    position: relative;
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* Main Content */
.content-section {
    padding: 3em 0;
}

/* Graphics */
section.graphics {
    background-color: #F9F1E5;
    color: #0C0E0C;
    padding: 2em 0;
    font-size: 0.9em;
}

section.graphics .container {
    width: 90%;
    max-width: 100%;
    padding: 0 15px;
}

.chart-container {
    margin: 2em 0;
}

img {
    max-width: 100%;
    height: auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* Column Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: flex-start; /* This helps align columns at the top */
}

.col-9 {
    width: 75%;
    padding: 0 15px;
    box-sizing: border-box;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Footer */
footer {
    padding: 2em 0;
    text-align: left;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
    .container {
        width: 95%;
    }
    .col-9, .col-3 {
        width: 100%;
        padding: 0 10px;
    }
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
}